

.flag.icon {
  color: #000;
  position: absolute;
  margin-left: 6px;
  margin-top: 4px;
  width: 9px;
  height: 6px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.flag.icon:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -2px;
  width: 1px;
  height: 15px;
  background-color: currentColor;
}

